body {
  overflow-x: hidden;
}


.home {
  background-image: linear-gradient(to top right, #7185d4, #0C88A6);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.hr-line {
  animation: hrline 3s forwards ease-in-out infinite;
}

@keyframes hrline {
  from {
    height: 5px;
    width: 20%;
  }

  to {
    height: 5px;
    width: 100%;
  }
}

.card-options {
  background-color: rgb(144, 53, 193);

}